.photo {
    width: 100%;
    height: 500px;
    background-size: cover !important;
    background-position: center !important;
    /* box-shadow: inset 0px 0px 20px 30px white;
    position: relative; */
}

#david {
    background: url('../img/team/david.jpg');
}
#darrell {
    background: url('../img/team/darrell.png');
    background-position: 0% -10% !important;
    background-repeat: no-repeat;
}
#barbie {
    background: url('../img/team/barbie.jpg');
    background-position: 0% -10% !important;
    background-repeat: no-repeat;
}
#steve {
    background: url('../img/team/steven.jpg');
    
}

@media (max-width: 425px) {
    .photo {
        width: 75%;
        height: 250px;
    }
    .name .list-group-item {
        font-size: 80%;
    }
}

.companies img{
    margin-right: 20px;
}