@font-face {
  font-family: bebas;
  src: url(../fonts/Bebas-Regular.ttf);
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters .col,
.no-gutters .col[class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.page-header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: bebas;
}

/* Banner */
.banner {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
  /* background-image: url('../img/banner.jpeg');
    background-size: cover;
    background-position: center; */
}
.banner .content {
  overflow: hidden;
}

.bg-video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
@media (min-width: 768px) {
  .banner .bg-video {
    top: -90%;
  }
}
.banner .bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  background: black;
  z-index: 2;
}
.banner .shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 80%, black);
  z-index: 5;
}
.banner div.content div {
  float: left;
}
.banner .logo {
  width: 20%;
  height: 250px;
  position: relative;
}
.banner .logo img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}
.banner .logo img:first-child {
  opacity: 1;
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
  animation-delay: 7.5s;
}
.banner .logo img:nth-child(2) {
  opacity: 0;
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
  animation-delay: 7.5s;
}
@keyframes fadeOut {
  to {opacity: 0;}
}
@keyframes fadeIn {
  to {opacity: 1;}
}


.banner .team-pic {
  width: 60%;
}
.banner .team-pic img {
  width: 100%;
  margin-top: 5px;
  position: relative;
  margin: auto;
  display: block;
  z-index: 4;
}
.banner .links {
  width: 20%;
  position: relative;
  z-index: 5;
  font-family: bebas;
}
.banner .links div {
  height: 250px;
}
@media (max-width: 768px) {
  .banner {
    height: 200px;
  }
}
@media (max-width: 425px) {
  .banner div.content div {
    float: none;
  }
  .banner {
    height: 170px;
  }
  .links {
    display: none;
  }
  .banner .logo {
    position: absolute;
    z-index: 5;
    width: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 85px;
    height: 170px;
  }
  .banner .team-pic {
    display: none;
  }
}

/* navbar */
#navbar {
  background-color: #043d5c !important;
  /* background-color: black; */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 0;
  z-index: 1030;
}
#navbar .nav-link {
  text-transform: uppercase;
  color: white;
  font-family: bebas;
}
#navbar .nav-item.active .nav-link {
  color: rgba(255, 255, 255, 1) !important;
  background-color: #d4451c !important;
}
#navbar .nav-item .nav-link:hover {
  color: rgba(255, 255, 255, 1);
  background-color: #043048;
  transition: all 0.3s;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.9rem;
    padding-left: 0.9rem;
  }
}
@media (max-width: 767px) {
  #navbar {
    padding: 0.5rem 1rem;
  }
  .my-collapse {
    position: fixed;
    background-color: #043d5cde;
    left: 0;
    top: 0;
    bottom: 0;
    width: 70%;
    margin-left: -100vw;
    margin-top: 46px;
  }
  .navbar-nav .nav-link {
    padding: 0.5rem 1rem;
  }
  .navbar-toggler:focus {
    outline: none;
  }
  .collapse-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1029;
    background-color: black;
    opacity: 0.8;
  }
}

.page-title {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 3rem;
  font-weight: 100 !important;
  text-transform: uppercase;
  padding: 7px;
  width: fit-content;
  margin-bottom: 3rem !important;
}
.text-dark {
  color: #1d2124 !important;
}
.text-shadow {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}
.btn {
  //border-radius: 0 !important;
}
.btn-primary {
  background-color: #043d5cde;
  border-color: #043d5cde;
}
.btn-primary.active,
.btn-primary:hover {
  background-color: #d4451c !important;
  border-color: #d4451c !important;
}
.bg-primary {
  background-color: #043d5cde !important;
}
.text-primary {
  color: #d4451c !important;
}

.text-secondary{
  /* color: #d4451c !important; */
}

.text-blue{
  color: #043d5cde;
}

.bg-secondary{
  background-color: #d4451c !important;
}
.bg-dark {
  background-color: #05141c !important;
}

.footer {
  position: relative;
  overflow: hidden;
  height: fit-content;
  z-index: 1;
}
.footer .bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 2;
  opacity: 0.9;
}
.footer .container {
  position: relative;
  z-index: 3;
}